@media screen and (max-width:2000px) {
/* posts/index ================================ */
.arrange-index{
  display: table;
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #f5f8fa;
}
.arrange-index-container{
  display: table-cell;
  max-width: 800px;
  margin: 60px auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 80px;
  clear: both;
}
.posts-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name a:hover {
  color: #FF9900;
}

.post-left {
  float: left;
  width: 10%;
}

.list{
  padding-left: 15px;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
  z-index: 0;
}

.list-left{
  float: left;
  height: 60px;
  vertical-align: middle;
  background-color: #C0C0C0;
  /*height: 64px;*/
  width: 100%;
  display: table-cell;
  table-layout: fixed;
  position: fixed;
  z-index: 1;
}

.list-left li a:hover{
  background-color: #808080;
  opacity: 0.7;
  display: block;
}

.list-left li a{
  padding: 16px 10px 16px 10px;
  font-size: 17px;
}
.list-left ul{
  text-align: center;
  
}

.list-left li{
  background-color: #C0C0C0;
  
  color: #fff;
  font-size: 30px;
  text-align: center;
  display: inline-block;
}

/* posts/show ================================ */
.posts-show form {
  display: inline; }

.posts-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden; }

.posts-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover; }

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px; }

.posts-show-item p {
  font-size: 24px;
  margin: 20px 0; }

.post-time {
  color: #8899a6;
  margin-bottom: 10px; }

.like-btn {
  color: #8899a6; }

.like-btn-unlike {
  color: #ff2581; }

.posts-show-item .fa {
  font-size: 16px;
  margin-right: 3px; }

.post-menus {
  float: right; }

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px; }

.comments {
  padding: 5px;
  margin-top: 15px; }

.comments a {
  color: red; }

/* posts/new ================================ */
.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid #d8dadf;
  resize: none; }

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5; }

}

/*------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width:1300px) {

/* posts/index ================================ */
.arrange-index{
  display: table;
  position: absolute;
  top: 80px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #f5f8fa;
}
.arrange-index-container{
  display: table-cell;
  max-width: 800px;
  margin: 60px auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 80px;
  clear: both;
}
.posts-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name a:hover {
  color: #FF9900;
}

.post-left {
  float: left;
  width: 10%;
}

.list{
  padding-left: 15px;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
  z-index: 0;
}

.list-left{
  float: left;
  height: 60px;
  vertical-align: middle;
  background-color: #C0C0C0;
  /*height: 64px;*/
  width: 100%;
  display: table-cell;
  table-layout: fixed;
  position: fixed;
  z-index: 1;
}

.list-left li a:hover{
  background-color: #808080;
  opacity: 0.7;
  display: block;
}

.list-left li a{
  padding: 16px 8px 16px 8px;
  font-size: 17px;
}
.list-left ul{
  text-align: center;
  
}

.list-left li{
  background-color: #C0C0C0;
  
  color: #fff;
  font-size: 30px;
  text-align: center;
  display: inline-block;
}

/* posts/show ================================ */
.posts-show form {
  display: inline; }

.posts-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden; }

.posts-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover; }

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 30px;
  margin-left: 15px; }

.posts-show-item p {
  font-size: 24px;
  margin: 20px 0; }

.arrange-likes {
  font-size: 25px;
}

.post-time {
  color: #8899a6;
  margin-bottom: 10px;
  font-size: 20px;}

.like-btn {
  color: #8899a6; }

.like-btn-unlike {
  color: #ff2581; }

.posts-show-item .fa {
  font-size: 16px;
  margin-right: 3px; }

.posts-show-item p {
  font-size: 25px;
}

.post-menus {
  float: right; }

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 25px; }

.comments {
  padding: 5px;
  margin-top: 15px; }

.comments a {
  color: #FF9900; }

/* posts/new ================================ */
.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid #d8dadf;
  resize: none; }

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5; 
  
}
}